@import '../../global/variables.scss';

:host {
  display: block;
}

.button {
  width: 100%;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $primary-color;
  padding: $spacings-medium;
  font-size: $font-size-medium;
  border: none;
  font-weight: bold;

  &--enabled {
    color: $black;
  }

  &--disabled {
    color: $gray;
  }

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}
