/* Colors */
$primary-400: #fbbf66;
$primary-500: #faaf40;
$primary-600: #f99a0e;

$gray-100: #f1f5f8;
$gray-300: #d6e1ea;
$gray-500: #bbcddc;
$gray-900: #25292c;

/* spacigns */
$spacing-normal: 1.6rem;
$spacing-medium: 2rem;

/* Font */
$font-size-normal: 1.6rem;
$font-size-medium: 2rem;
$font-size-medium-large: 2rem;
$font-line-height-medium: 24px;

:host {
  font-family: 'Open Sans';
}
