/* Colors */
$primary-color: #faaf40;
$black: #25292c;
$gray-300: #d6e1ea;
$gray-900: #25292c;

/* spacigns */
$spacing-normal: 1.6rem;
$spacing-medium: 2rem;

/* Font */
$font-size-normal: 1.6rem;
$font-size-medium: 2rem;
$font-size-medium-large: 2rem;
$font-line-height-medium: 24px;

:host {
  font-family: 'Open Sans';
}
