:host {
  .wrapper {
    position: relative;
    &:after {
      position: absolute;
      content: '❯';
      color: $gray-900;
      font-size: $font-size-medium-large;
      top: 10px;
      right: 20px;
      pointer-events: none;
      transform: rotate(90deg);
    }
    &__label--visible {
      margin-top: $spacing-normal;
    }
  }

  select {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: $spacing-normal $spacing-medium;
    border: 1px solid $gray-300;
    border-radius: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    &::-ms-expand {
      display: none;
    }
  }

  label {
    font-weight: bold;
    font-size: $spacing-normal;
    line-height: 24px;
    color: $gray-900;
  }
}
