.wrapper {
  &__label--visible {
    display: block;
    margin-bottom: $spacing-normal;
  }

  .select-wrapper {
    position: relative;
    &:after {
      color: $gray-900;
      content: '❯';
      font-size: $font-size-medium-large;
      pointer-events: none;
      position: absolute;
      right: 20px;
      top: 10px;
      transform: rotate(90deg);
    }
  }

  select {
    appearance: none;
    border: 1px solid $gray-300;
    border-radius: 40px;
    cursor: pointer;
    padding: $spacing-normal $spacing-medium;
    position: relative;
    width: 100%;
    &::-ms-expand {
      display: none;
    }
  }

  label {
    color: $gray-900;
    line-height: 24px;
    font-size: $spacing-normal;
    font-weight: bold;
  }
}
