:host {
  display: block;

  button {
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    cursor: pointer;
    border-radius: $border-radius;
    background-color: $primary-color;
    padding: $spacings-medium;
    font-size: $font-size-medium;
    border: none;
    font-weight: bold;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}
