:host {
  display: block;

  button {
    background-color: $primary-color;
    border: none;
    border-radius: 80px;
    color: $gray-900;
    cursor: pointer;
    font-size: $font-size-normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: $font-line-height-medium;
    padding: $spacing-normal $spacing-medium;
    width: 100%;
    &:hover {
      background-color: lighten($primary-color, 5%);
    }
    &:disabled {
      cursor: default;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
