:host {
  display: block;

  button {
    background-color: $primary-500;
    border: none;
    border-radius: 80px;
    color: $gray-900;
    cursor: pointer;
    font-size: $font-size-normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: $font-line-height-medium;
    padding: $spacing-normal $spacing-medium;
    width: 100%;
    &:enabled {
      &:hover {
        background-color: $primary-400;
        &:active {
          background-color: $primary-600;
        }
      }
    }
    &:disabled {
      cursor: default;
      background-color: $gray-100;
      color: $gray-500;
    }
  }
}
